{% extends 'base.html' %} {% block head %}
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<!-- Header -->
<meta property="og:site_name" content="{{ site_name }}" />
<meta content="{{ colour }}" data-react-helmet="true" name="theme-color" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ user }}" />
<meta name="twitter:image" content="{{ img }}" />
<meta http-equiv="refresh" content="0; url = {{ url }}" />

<!-- Open Graph -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="{{ img }}" />
<meta property="og:description" content="{{ user }}" />
<meta property="og:url" content="{{ url }}" />
{% endblock %} {% block body %} {% endblock %}